<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devices</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preload" href="/static/images/VOCMonitorLogo.png" as="image">
</head>
<body>
<div class="container-grid-basic">
    <div aria-label="Toggle navigation" class="menu-toggle" role="button" tabindex="0">
        <i class="material-icons md-light">menu</i>
    </div>

    <!-- Notification panel to display sent out notifications -->
    <div class="notifications-container" id="notificationPanel">
        <button class="close-btn" id="closeNotifications">&times;</button>
        <h2>Notifications</h2>
        <div class="clear-all-container">
            <i class="material-icons md-light" id="clearAll" style="cursor: pointer;">clear_all</i>
            <label style="color: white;">Clear All</label>
        </div>
        <!-- <button class="clear-all" id="clearAll"></button> -->
        <ul id="notification-list">
        </ul>
    </div>

    <div class="menu-section">
        <div class="menu-div">
            <div class="menu-section-flex-container">
                <div class="logo">
                    <h1>
                        <img class="logo-image" src="/static/images/VOCMonitorLogo.png">
                    </h1>
                </div>
                <nav class="sidebar-nav">
                    <ul class="nav-list">
                        <li>
                            <a class="nav-list-link" href="{{ url_for('routes.index') }}">
                                <i class="material-icons md-light">home</i>
                                <h4>Home</h4>
                            </a>
                        </li>
                        <li>
                            <a class="nav-list-link" href="{{ url_for('routes.chart') }}">
                                <i class="material-icons md-light">analytics</i>
                                <h4>Graph</h4>
                            </a>
                        </li>
                        <li>
                            <a class="nav-list-link" href="{{ url_for('routes.compact') }}">
                                <i class="material-icons md-light">smartphone</i>
                                <h4>Compact</h4>
                            </a>
                        </li>
                        <li>
                            <a class="nav-list-link" href="{{ url_for('routes.devices') }}">
                                <i class="material-icons md-light">devices</i>
                                <h4>Devices</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="toggleNotifications">
                                <i class="material-icons md-light">notifications</i>
                                <h4>Notifications</h4>
                            </a>
                        </li>
                        <li>
                            <a class="nav-list-link" href="{{ url_for('routes.settings') }}">
                                <i class="material-icons md-light">settings</i>
                                <h4>Settings</h4>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="main-section-chart">
        <div class="chart-flexbox-container">
            <div class="settings-container">
                <h2>Add new device</h2>
                <div class="settings-container-list">
                    <form id="devices-form">
                            <input class="input" type="text" pattern="[A-Za-z]+" name="device_name" id="device_name" required>
                            <label>Device name</label>
                            <br>
                            <input class="input" type="text" pattern="[A-Za-z]+" name="topic" id="topic" required>
                            <label>Topic</label>
                            <br>
                            <br>
                            <br>
                            <button class="button-17" id="cancelChanges">Cancel</button>
                            <button class="button-17" id="addNewDevice">Add new device</button>
                        </form>
                </div>
            </div>

            <div class="settings-container">
                <h2>Devices</h2>
                <div class="devices-container">
                    <div class="clear-all-container">
                        <i class="material-icons md-dark" id="clearAllDevices" style="cursor: pointer;">clear_all</i>
                        <label style="color: black;">Clear All</label>
                    </div>
                    <ul class="devices-list-c" id="devices-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA=="
        referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>

<script src="/static/js/devices-page.js" type="module"></script>

</body>
</html>